<%= link_to '#' do %> <div class="button">Show Recommended Course Layout</div> <% end %>
<%= link_to 'courses?type=engr' do %> <div class="button">View Engineering Core</div> <% end %>
<%= link_to 'courses?type=soen' do %> <div class="button">View Software Engineering Core</div> <% end %>
<%= link_to 'courses?type=comp' do %> <div class="button">View Computer Science Core</div> <% end %>
<%= link_to 'courses?type=science' do %> <div class="button">View Basic Science Courses</div> <% end %>
<%= link_to 'courses?type=tech' do %> <div class="button">View Technical Electives</div> <% end %>
<%= link_to 'courses?type=gen' do %> <div class="button">View General Electives</div> <% end %>