<%= javascript_include_tag "timetableCourseDisplay" %>

<div class="row">
  <div class="col-md-8"><h1>Schedule for
		<%=
				if session[:semester]
					session[:semester]
					else
						nextTerm(DateTime.now())
					end
		%>:</h1></div>
  <div class="col-md-4">
			 <span class="pull-right">
			<%= link_to "Next Semester", nextSemesterTimetable_path, :class=>"btn btn-danger btn-arrow-right" , :id => 'doneButton', style: "position: relative;top: 20px"%>
				</span>

        <%


           timeblocks = []
					 StudentTerm.find(session[:termID]).sections.map do |section|


           Timeblock.where("section_id=" + (section.id.to_s)).find_each do |t|
           timeblocks.push(t)

        %>
            <%= javascript_tag do %>
                $(window).load(function() {
                window.sectionName = '<%= section.section_name %>';
								window.courseShortName = '<%= Course.find(section.course_id).short_name %>';
                window.timeblockDay = '<%= t.timeblock_day %>';
                window.timeblockHour = '<%= t.timeblock_hour %>';
                window.timeblockMinute = '<%= t.timeblock_minute %>';
                window.timeblockDuration = '<%= t.timeblock_duration %>';
                addNewEvent();
                });

            <% end
							 end
               end%>

  </div>
</div>

<div id='calendar'></div>
