<%= javascript_include_tag "students"%>
<div class="col-md-4">
<%= form_tag("/courseSelection", method: "post", id:"courseSelection") do %>
    <%= label_tag(:courseInput, "Select a course to add to this term:") %>
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" onclick="semesterClick()" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <%= coursesBySemesterSubmenu("submenuClick","courseInput","courseSelection") -%>
        </ul>
      </div><!-- /btn-group -->
      <%= text_field_tag :courseInput, '' ,class:'form-control typeahead', placeholder:'Choose or type a course', value:session[:course]  %>
    </div><!-- /input-group -->
<% end %>
</div><!-- /.col-md-4 -->


<!--for when a selection has been made, display section selector-->
<%if session[:course] %>
    <!-- send data to javascript-->
    <div class="col-md-4">
    <%= form_tag("/sectionSelection", method: "post", id:"sectionSelection") do %>
        <%= label_tag(:sectionInput, "Select a section for this course:") %>
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" onclick="semesterClick()" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sections <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <%= sectionsFormCourseSubmenu(Course.find_by course_full_name: session[:course])%>
            </ul>
          </div><!-- /btn-group -->
          <%= text_field_tag :sectionInput,'' , class:'form-control',placeholder: 'Choose a section to display its timeblock', value: session[:section] %>
        </div><!-- /input-group -->
          </div><!-- /.col-md-4 -->
    <%end%>

<%end %>



<div class="col-md-4">
  <div class="text-left">
<%= form_tag("/courseDisplayGoToSemester", method: "post", id:"semesterSelection") do %>
    <%= label_tag(:semesterInput, "Go to semester:") %>
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" onclick="semesterClick()" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Semester <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <%= semesters("semesterSubmenuClick") -%>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
    <%=hidden_field_tag(:semesterInput,'')%>
<% end %>
    </div>
  </div><!-- /.col-md-4 -->

<%= javascript_tag do %>
    //ruby is stupid about passing to javascript, passing as string and reconverting in javascript. The gsub is because javascript can't handle ruby quotes string char
    window.semestersArrayRuby = "<%=coursesArray.to_s.gsub('"', '')%>";
<% end %>


<%= render "courseDisplay" %>