<%= javascript_include_tag "students"%>
<%= form_tag("/courseSelection", method: "post", id:"semesterSelection") do %>
    <%= label_tag(:semesterInput, "Select a course to add to this term:") %>
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" onclick="semesterClick()" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <%= coursesBySemesterSubmenu -%>
        </ul>
      </div><!-- /btn-group -->
      <%= text_field_tag :semesterInput, '' ,class:'form-control typeahead', placeholder:'Choose or type a course', value:session[:course]  %>
      <%=hidden_field(:semester,:semesterProcessed,:value => session[:semester])%>
    </div><!-- /input-group -->
<% end %>

<!--for when a selection has been made, display section selector-->
<%if session[:course] %>

    <!-- send data to javascript-->
    <%= javascript_tag do %>
        window.courseShortName = '<%=(Course.find_by course_full_name: session[:course]).short_name %>';
    <% end %>

    <%= form_tag("/sectionSelection", method: "post", id:"sectionSelection") do %>
        <%= label_tag(:semesterInput, "Select a section for this course:") %>
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" onclick="semesterClick()" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sections <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <%= sectionsFormCourseSubmenu(Course.find_by course_full_name: session[:course])%>
            </ul>
          </div><!-- /btn-group -->
          <%= text_field_tag :sectionInput,'' , class:'form-control',placeholder: 'Choose a section to display its timeblock', value: session[:section] %>
        </div><!-- /input-group -->
    <%end%>

<%end %>



<%= javascript_tag do %>
    //ruby is stupid about passing to javascript, passing as string and reconverting in javascript. The gsub is because javascript can't handle ruby quotes string char
    window.semestersArrayRuby = "<%=coursesArray.to_s.gsub('"', '')%>";
<% end %>


<%= render "courseDisplay" %>