<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="Source code generated using layoutit.com">
  <meta name="author" content="LayoutIt!">
  <style>
    .button{ font-size:20pt; color:#212121; margin:4px; padding:15px; border:1px solid #212121; border-radius:10px; }
    table, th, td { padding:10px; }
  </style>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button> <a class="navbar-brand" href="#">Skynet</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">Login</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consult Skynet<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to 'add' do %> Add Courses <% end %>
                </li>
                <li>
                  <a href="#">Remove Courses</a>
                </li>
                <li>
                  <a href="#">View My Schedule</a>
                </li>
                <li class="divider">
                </li>
                <li>
                  <a href="#">Scheduler View</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" value="Course Search">
            </div>
            <button type="submit" class="btn btn-default">
              Search
            </button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">About</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Assets<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Undergraduate Calendar</a>
                </li>
                <li>
                  <a href="#">Course Registration Guide</a>
                </li>
                <li>
                  <a href="#">Tuition Cost Estimation</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="carousel slide" id="carousel-344732">
        <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#carousel-344732">
          </li>
          <li data-slide-to="1" data-target="#carousel-344732">
          </li>
          <li data-slide-to="2" data-target="#carousel-344732">
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img alt="Carousel Bootstrap First" src="https://www.concordia.ca/content/shared/en/news/main/stories/2015/10/01/monday-october-12-whats-open-whats-closed-at-concordia-thanksgiving/_jcr_content/parsys/image.img.jpg/1444163547578.jpg">
            <div class="carousel-caption">
              <h4>
                Your schedule, engineered just for you!
              </h4>
            </div>
          </div>
          <div class="item">
            <img alt="Carousel Bootstrap Second" src="http://linguistech.ca/display910">
            <div class="carousel-caption">
              <h4>
                We help you to prepare your course sequence, ensuring you graduate when you want to, how you want to.
              </h4>
            </div>
          </div>
          <div class="item">
            <img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg">
            <div class="carousel-caption">
              <h4>
                Something else goes here
              </h4>
              <p>
                Banners need to be properly sized
              </p>
            </div>
          </div>
        </div> <a class="left carousel-control" href="#carousel-344732" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-344732" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
      <div class="page-header">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>