<%= form_for(:session, url: login_path) do |f| %>

    <div class="form-group">
      <%= f.label :maxCredits, 'Maximum number of credits:' %>
      <%= f.number_field :maxCredits, min:0, max:18, class: 'form-control' %>
      <%= f.label :minCredits, 'Minumum number of credits:' %>
      <%= f.number_field :minCredits,min:0, max:18,class: 'form-control' %>
      <%= radio_button_tag(:radioPreference, "night") %>
      <%= label_tag(:night_tag, "Night schedule preferred") %>
      <%= radio_button_tag(:radioPreference, "day") %>
      <%= label_tag(:day_tag, "Day schedule preferred") %>
      <%= radio_button_tag(:radioPreference, "neutral", :checked) %>
      <%= label_tag(:neutral_tag, "No preferrence for day/night schedule") %>
      <%= label_tag("Click here to set unavailable time slots:")%>
      <%= link_to "Unavailable", timetableread_path, :class=>"btn btn-default" %>

    </div>
    <%= f.submit "Done", class: "btn btn-default" %>
<% end %>