  <%= stylesheet_link_tag    'students', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "students" %>
  <h1>Testing</h1>
  <div class="row">
    <div class="col-lg-6">
      <h3>Select a semester to set preferences for:</h3>
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Semester <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <%= semesters -%>
          </ul>
        </div><!-- /btn-group -->
        <input type="text" class=" form-control typeahead" aria-label="..." placeholder="Choose or type a semester" maxlength="60">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    </div>
  <%= javascript_tag do %>
      //ruby is stupid about passing to javascript, passing as string and reconverting in javascript. The gsub is because javascript can't handle ruby quotes string char
      window.semestersArrayRuby = "<%=semestersArray.to_s.gsub('"', '')%>";
  <% end %>

